<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Conformation</title>
    {% extends "base.html" %}
  </head>
  {% block content %}
  <body>
    <div class="container-fluid">
      <div class="row very-dark-text">
        <div class="col-lg-11 offset-lg-1">
        <table class="table table-responsive table-striped table-hover very-dark-text">
            <thead>
              <tr>
                <th scope="col">Model</th>
                <th scope="col">Chain</th>
                <th scope="col">Group</th>
                <th scope="col">Spatial label</th>
                <th scope="col">Dihedral label</th>
                <th scope="col">Ligand name:id</th>
                <th scope="col">Ligand label</th>
                <th scope='col' colspan="2">X-DFG Φ, Ψ</th>
                <th scope='col' colspan="2">DFG-Asp Φ, Ψ</th>
                <th cope='col' colspan="2">DFG-Phe Φ, Ψ, χ1</th>
              </tr>
            </thead>
            {% for key,value in conf_df.iterrows() %}
            {% if value['Group']!='None' %}
            <tr>
              <td>{{ value['Model_id'] }}</td>
              <td>{{ value['Chain_id'] }}</td>
              <td>{{ value['Group'] }}</td>
              <td>{{ value['Spatial_label'] }}</td>
              <td>{{ value['Dihedral_label'] }}</td>
              <td>{{ value['Ligand'] }}</td>
              <td>{{ value['Ligand_label'] }}</td>
              <td>{{ value['XDFG_restype'] }}{{ value['XDFG_num']|int }}</td>
              <td>{{ value['XDFG_Phi'] }}, {{ value['XDFG_Psi'] }}</td>
              <td>{{ value['Asp_restype'] }}{{ value['Asp_num']|int }}</td>
              <td>{{ value['Asp_Phi'] }}, {{ value['Asp_Psi'] }}</td>
              <td>{{ value['Phe_restype'] }}{{ value['Phe_num']|int }}</td>
              <td>{{ value['Phe_Phi'] }}, {{ value['Phe_Psi'] }}, {{ value['Phe_Chi1'] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </table>




        {% for key,value in conf_df.iterrows() %}
        {% if value['Group']=='None' %}
        <h6>Model {{ value['Model_id'] }}, Chain {{ value['Chain_id'] }} is probably not a kinase domain.</h6>
        {% endif %}
        {% endfor %}

        <p>If the label is 'None' then either the residues required for calculation are not resolved in structure, or the conformation is not close to any of the clusters.</p>
      </div>
    </div>
    </div>

  </body>
  {% endblock %}
</html>
