<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Conformation</title>
    {% extends "base.html" %}
  </head>
  {% block content %}
  <body>
    <div class="container-fluid">
      {% for key,value in conf_df.iterrows() %}
      <div class="row very-dark-text">

        {% if value['Group']=='None' %}
        <h6>Model {{ value['Model_id'] }}, Chain {{ value['Chain_id'] }} is probably not a kinase domain.</h6>
        {% else %}

        <br><br>
        <h5>The kinase domain in Model {{ value['Model_id'] }}, Chain {{ value['Chain_id'] }} is closest to {{ value['Group'] }} group of kinases.
        <br><br>
          The dihedrals of XDF residues are:<br>

          <table class="table very-dark-text">
            <thead>
              <tr>
                <th scope="col">Motif</th>
                <th scope='col'>Residue</th>
                <th scope='col'>Phi</th>
                <th scope='col'>Psi</th>
                <th scope='col'>Phe-Chi1</th>
              </tr>
            </thead>

            <tr>
              <td>X-DFG</td>
              <td>{{ value['XDFG_restype'] }}{{ value['XDFG_num'] }}</td>
              <td>{{ value['XDFG_Phi'] }}</td>
              <td>{{ value['XDFG_Psi'] }}</td>
              <td>-</td>
            </tr>
            <tr>
              <td>DFG-Asp</td>
              <td>{{ value['Asp_restype'] }}{{ value['Asp_num'] }}</td>
              <td>{{ value['Asp_Phi'] }}</td>
              <td>{{ value['Asp_Psi'] }}</td>
              <td>-</td>
            </tr>
            <td>DFG-Phe</td>
            <td>{{ value['Phe_restype'] }}{{ value['Phe_num'] }}</td>
            <td>{{ value['Phe_Phi'] }}</td>
            <td>{{ value['Phe_Psi'] }}</td>
            <td>{{ value['Phe_Chi1'] }}</td>
          </table>

        The conformation is: {{ value['Spatial_label'] }} - {{ value['Dihedral_label'] }}, with {{ value['Chelix'] }}.</h5>
        {% endif %}

      </div>
<div class="row">
  <hr class="my-4">
</div>



      {% endfor %}
      <div class="row very-dark-text">
        <p>If the conformation is 'None' then either the residues required for calculation are not resolved in structure, or the conformation is not close to any of the clusters.</p>
      </div>
    </div>

  </body>
  {% endblock %}
</html>
