<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container-fluid very-dark-text">
      <div class="container">
      <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
          <div class="very-dark-text jumbotron">
            <p class="lead">If you have any query or suggestion then please write to us.</p>
            <hr class="my-4 brand-background">
            <p><span style="font-weight:bold;">Vivek Modi</span>: vivek[dot]modi[at]fccc[dot]edu<br>
            <span style="font-weight:bold;">Roland Dunbrack</span>: roland[dot]dunbrack[at]fccc[dot]edu<br>
            <a href="{{ url_for('dunbrackLab') }}" target="_blank">Lab Home Page</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  </body>
</html>
