<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "base.html" %}
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  {% block content %}
  <body>
    <h1>Coming Soon</h1>
  </body>
  <p>If you use this database or webserver for your work, then please cite the following paper,</p>
  <h4>Clustering and nomenclature</h4>
  <p>Defining a new nomenclature for the structures of active and inactive kinases<br>Vivek Modi and Roland L. Dunbrack, <em>PNAS</em> 2019, <strong>116(14) </strong>6818-6827.<br>
  <a href="https://doi.org/10.1073/pnas.1814279116" target="_blank">Link to article</a></p>
  <br><br>
  <h4>Multiple sequence alignment and phylogeny</h4>
  <p>Structurally-Validated Multiple Sequence Alignment of 497 Human Protein Kinase Domains<br>Vivek Modi and Roland L. Dunbrack, <em>Sci Rep</em> 2019, <strong>9, 19790</strong>.<br>
  <a href="https://www.nature.com/articles/s41598-019-56499-4" target="_blank">Link to article</a></p>
  {% endblock %}
</html>
